# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# C++ / SKSE Plugin
build/
*.exe
*.dll
*.lib
*.obj
*.pdb
*.exp
.vscode/
*.sln
*.user
*.idb
*.ipch
*.aps
*.suo
*.ncb
*.log

# Machine Learning Models
ai_model/checkpoints/
ai_model/models/
ai_model/logs/

# Skyrim Modding
*.pex
*.psc.bak
data_exchange/*.tmp

# Git
.DS_Store
Thumbs.db
